<form role="form">
    <div class="form-group">
        <label for="inpTitle">Title</label>
        <input id="inpTitle" type="text" class="form-control" data-bind="value: Title" />
    </div>
    <div class="form-group">
        <label for="txtDescription">Description</label>
        <input id="txtDescription" class="form-control" data-bind="value: Description" />
    </div>
    <div class="form-group">
        <label for="inpLocation">Location</label>
        <input id="inpLocation" type="text" class="form-control" data-bind="value: Location" />
    </div>
</form>

<input type="button" id="btnAddPackage" class="btn btn-primary" value="Add Package" data-bind="click: addPackage" />